<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DiscordAudioStream.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <DiscordAudioStream.Properties.Settings>
            <setting name="Theme" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AlwaysOnTop" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="CaptureCursor" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="HideTaskbar" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="Preview" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="ScaleIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AreaIndex" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="AutoExit" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureScreenMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="CaptureWindowMethod" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="OutputLogFile" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="OffscreenDraw" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="CaptureFramerate" serializeAs="String">
                <value>30</value>
            </setting>
            <setting name="SeenLockAreaDiag" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AreaForm_Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AreaForm_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AudioDeviceID" serializeAs="String">
                <value />
            </setting>
            <setting name="ShowAudioInputs" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="AudioMeterForm_Position" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="AudioMeterForm_Size" serializeAs="String">
                <value>0, 0</value>
            </setting>
        </DiscordAudioStream.Properties.Settings>
    </userSettings>
</configuration>