name: Compile and Deploy

on:
  push:
    branches: [ master ]
  workflow_dispatch:

jobs:
  build:
    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v3
      name: Checkout
     
    - name: Setup MSBuild Path
      uses: microsoft/setup-msbuild@v1
       
    - name: Setup NuGet
      uses: NuGet/setup-nuget@v1
     
    - name: Restore NuGet Packages
      run: nuget restore DiscordAudioStream.sln
      
    - name: Generate Build ID
      run: (Get-Content .\DiscordAudioStream\Startup\BuildInfo.cs) -replace '__BUILD_ID__', (Get-Date -UFormat %s -Millisecond 0) | Out-File .\DiscordAudioStream\Startup\BuildInfo.cs
      
    - name: Build
      run: msbuild DiscordAudioStream.sln /p:Configuration=Release /p:DeployOnBuild=true /p:PublishProfile=FolderProfile
      
    - name: Upload Artifact
      uses: actions/upload-artifact@v1.0.0
      with:
        name: Release artifact
        path: DiscordAudioStream\bin\Release\net472\DiscordAudioStream.exe
      
    - name: Remove latest release
      uses: dev-drprasad/delete-older-releases@v0.2.1
      with:
        keep_latest: 0
        delete_tag_pattern: latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Update latest tag
      uses: richardsimko/update-tag@v1
      with:
        tag_name: latest
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    
    - name: Create release
      uses: softprops/action-gh-release@v1
      with:
        tag_name: latest
        prerelease: true
        name: Latest Build
        generate_release_notes: true
        files: DiscordAudioStream/bin/Release/net472/DiscordAudioStream.exe
    
